		/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end*/
	body{font-family:  "Helvetica Neue","Helvetica Neue LT Std", Arial, sans-serif;font-size: 16px;
			width: 90%; margin: 0 auto;background-color: black;color: #7a7a7a;text-align:center; } /* 16px * 62.5% = 10px */
h1   { font-size: 10em; } /* = 24px */
p    { font-size: 10em;text-decoration: underline; } /* = 14px */
.ondemande{font-size: 1.875em;margin: 30px 0 300px;}
.date{font-size: 1.250em;margin: 170px 0;}
.date span{font-size: 1em ;display: inline; color:white;}
div span{font-size:1.225em; margin: 0 0 50px;display: block;color: white;}
	/*p{font-size: 4em;text-align:center;}*/
	ul{margin-bottom:50px;}
	ul li a{ text-decoration: none;color:white;line-height: 1.625em; }
	footer span {font-size:0.774em;}
		@media screen and (max-width: 1000px){
		p{font-size: 4em;}
	}
	@media screen and (max-width: 500px){
		.date{margin:70px 0;}
		p{font-size: 2em;}
		.ondemande{margin: 30px 0 70px;}
	}
